/* =============================================================================
  Global Styles
============================================================================= */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
}
li {
  list-style: none;
}

/* =============================================================================
  Containers
============================================================================= */

.main-container {
  margin: 0 auto;
}

/* =============================================================================
  <= 319PX  -  Mobile XS
============================================================================= */

/* Mobile-First Styles Go Here */

/* =============================================================================
  320px  -  Mobile S
============================================================================= */

@media (min-width: 320px) {}

/* =============================================================================
  375px  -  Mobile M
============================================================================= */

@media (min-width: 375px) {}

/* =============================================================================
  425px  -  Mobile L
============================================================================= */

@media (min-width: 425px) {}

/* =============================================================================
  768px  -  Mobile XL / Tablet
============================================================================= */

@media (min-width: 768px) {}

/* =============================================================================
  1024px  -  Tablet / Laptop / Desktop XS
============================================================================= */

@media (min-width: 1024px) {}

/* =============================================================================
  1280px  -  Desktop S
============================================================================= */

@media (min-width: 1280px) {}

/* =============================================================================
  1366px  -  Desktop M
============================================================================= */

@media (min-width: 1366px) {}

/* =============================================================================
  1440px  -  Desktop L
============================================================================= */

@media (min-width: 1440px) {}

/* =============================================================================
  1920px  -  Desktop XL
============================================================================= */

@media (min-width: 1920px) {}
