/* =============================================================================
  Global Styles
============================================================================= */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
}
li {
  list-style: none;
}

/* =============================================================================
  Containers
============================================================================= */

.main-container {
  margin: 0 auto;
}

/* =============================================================================
    >= 1920px  -  Desktop XL
============================================================================= */

/* Desktop-First Styles Go Here  */

/* =============================================================================
    1440px to 1919px  -  Desktop L
============================================================================= */

@media (max-width: 1919px) {}

/* =============================================================================
    1366px to 1439px  -  Desktop M
============================================================================= */

@media (max-width: 1439px) {}

/* =============================================================================
    1280px to 1365px  -  Desktop S
============================================================================= */

@media (max-width: 1365px) {}

/* =============================================================================
    1024px to 1279px  -  Tablet / Laptop / Desktop XS
============================================================================= */

@media (max-width: 1279px) {}

/* =============================================================================
    768px to 1023px  -  Mobile XL / Tablet
============================================================================= */

@media (max-width: 1023px) {}

/* =============================================================================
    425px to 767px  -  Mobile L
============================================================================= */

@media (max-width: 767px) {}

/* =============================================================================
    375px to 424px  -  Mobile M
============================================================================= */

@media (max-width: 424px) {}

/* =============================================================================
    320px to 374px  -  Mobile S
============================================================================= */

@media (max-width: 374px) {}

/* =============================================================================
    <= 319PX  -  Mobile XS
============================================================================= */

@media (max-width: 319px) {}
